/* Base styles for Magia */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
}

.conte-root{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #231b2e, hwb(160 42% 17%));
    color: #333;
    position: relative;
}
.conte-btn{
    background-color: 5px solid #e91616;
    height: 100%;
    width: 100%;  
    display: flex;
    align-items: center;    
    justify-content: center;        
}
.btn{
    font-size: 1.5rem;
    font-family: "Jura", sans-serif;
    padding: 20px 40px;
    background-color: rgba(0, 255, 255, 0.2);
    border: rgb(0, 255, 255);
    columns: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
}
.btn:hover{
    transform: scale(0.95);
}
/*puntero*/
.puntero{
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    }

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

@keyframes EjAnimacion {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Aplicar la animación a un elemento */
.animacion {
    animation: EjAnimacion 2s infinite;
}