/* Base styles for Magia */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;    
}
.conte-root{
    /* font-family: Arial, sans-serif; */
     /*background: linear-gradient(135deg, #231b2e, hwb(160 42% 17%)); */
    background: linear-gradient(130deg, #071622, #2e5472); 
     /* color: #333; */
    /*background-color: black;*/
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.conte-btn{    
    height: 100%;
    width: 100%;  
    display: flex;
    align-items: center;    
    justify-content: center;        
}
.btn{
    font-size: 1.5rem;
    font-family: "Jura", sans-serif;
    padding: 18px 40px;
    background-color: rgba(0, 255, 255, 0.2);
    border: rgb(0, 255, 255);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 255, 255, 0.6);
    z-index: 50;
}
.btn:hover{
    transform: scale(0.95);
}
/*puntero*/
.puntero{
    /*background-color: red;
    border: 2px solid rgba(0, 255, 255, 0.2);*
    border-top: 3px solid rgb(0, 89, 255, 0.2);
    border-bottom: 3px solid rgb(192, 224, 49, 0.2);
    border-left: 3px solid rgb(216, 60, 177, 0.2);
    border-right: 3px solid rgb(0, 255, 255, 0.2);*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 49;
    
}
.puntero2{
    /*background-color: red;
    border: 2px solid rgba(0, 255, 255, 0.2);*/
    border-top: 3px solid rgb(0, 89, 255, 0.5);
    border-bottom: 3px solid rgb(192, 224, 49, 0.5);
    border-left: 3px solid rgb(216, 60, 177, 0.5);
    border-right: 3px solid rgba(0, 255, 255, 0.5);
    width: 80%;
    height: 80%;
    margin: 10%;
    /*animation: girar 1s infinite linear;*/
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Magic_wand.svg/150px-Magic_wand.svg.png') no-repeat center center;
    background-size: contain;
}

.conte-texto{
    align-items: center;    
    justify-content: center;  
    position: absolute;  
    top: 22%;
    left: 29%;               
}   
.texto-centro{
    text-align: center; 
    font-family: "Jura", sans-serif;
    font-size: 1rem;
    color: white;         
}
.texto-titulo{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Jura", sans-serif;
    color: white; 
}
.texto-negrita{
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    color: white;
    text-shadow: #2e5472;
    font-weight: bold;
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgba(255, 255, 255, 0.8);
    pointer-events: none;
    animation: moveAndFade 3s forwards;
}
/* Aplicar la animación a un elemento */
.animacion {
    animation: EjAnimacion 2s infinite;
}


@keyframes EjAnimacion {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveAndFade {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(100vh) scale(0.1);
    }
}


